<app-nav-component></app-nav-component>
<header>
    <h1>Explora la magia de la vida salvaje en nuestro Zoo</h1>
</header>

<main>
    <section class="bienvenida">
        <h2>¡Bienvenidos al maravilloso mundo del Zoo de Loja!</h2>
        <div class="bienvenida-img">
            <p>Descubre la vida salvaje: Adéntrate en los distintos hábitats que hemos recreado cuidadosamente para nuestros residentes animales. Pasea por la selva tropical, donde podrás observar coloridos pájaros tropicales y monos juguetones. Sumérgete en el mundo submarino en nuestro acuario, donde criaturas fascinantes nadan graciosamente. Explora la sabana africana y observa de cerca a los majestuosas  jirafas.</p>
            <img src="../../../assets/img/img1.jpg" alt="tulcan">
        </div>
    </section>
</main>

<app-footer></app-footer>
