h2 {
    margin-top: 40px;
    text-align: center;
    color: var(--green);
    font-weight: bold;
    font-size: 40px;
}

mat-card {
    margin-top: 30px;
    width: 50%;
    background-color: #efefef;
}

p {
    width: 100%;
    text-align: justify;
    color: black;
}

.lista-animales {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.cabecera-lista-animales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img-lista-animales {
    width: 100px;
}

#imagen-fondo1 {
    width: 300px;
    position: absolute;
    top: 90vh;
    left: 150vh;
}



#imagen-fondo2{
    width: 250px;
}

#imagen-fondo2 {
    width: 350px;
    position: absolute;
    top: 127vh;
    right: 140vh;
}

app-animales-lista-layouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}