<app-nav-component></app-nav-component>
<app-carousel-actividades-page></app-carousel-actividades-page>     
<div class="container-fluid w-auto h-100 p-0">
    <div class="container container-information py-5">
        <p>
            ¡Descubre la magia de la vida salvaje en nuestro zoológico! Disfruta de un día inolvidable rodeado de una diversidad de animales fascinantes, desde leones hasta pingüinos. Ofrecemos actividades personalizadas para todas las edades, como paseos educativos, alimentación de animales y charlas interactivas. Ya sea que nos visites de día o por la tarde, encontrarás experiencias emocionantes y educativas. Únete a nosotros y vive momentos inolvidables con tu familia en un ambiente seguro y entretenido. ¡Te esperamos en nuestro zoológico!
        </p>
    </div>
    <hr>
    <div class="container-fluid container-activities">
        <div class="row row-cols-2 h-100">            
            <div class="col-4 d-flex align-items-center">
                <p class="description-matutina">
                    Explora la vida salvaje en nuestras actividades matutinas. Únete a una visita guiada, participa en la alimentación de los animales y disfruta de una exhibición de aves rapaces. Además, captura momentos especiales en sesiones de fotos y aprende sobre la conservación de especies en peligro de extinción. ¡Una mañana llena de diversión y descubrimiento te espera en nuestro zoológico!
                </p>
            </div>
            <div class="col">Columna 2</div>
        </div>      
    </div>
</div>
<app-footer></app-footer>