<div >
    <div >            
        <div >
            <div >
                <div class="card-body">
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel  *ngFor="let item of paginasAnimales"  [expanded]="item.expanded">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="text-capitalize">{{item.nombre}}</mat-panel-title>
                                <mat-panel-description>Especie: {{item.especie}}
                                    <img src="../../../assets/img/page-animales/zoologia.png" alt="icono">
                                </mat-panel-description>
                            </mat-expansion-panel-header>    

                            <div class="card border-0">
                                <div>
                                    <div >
                                        <div class="card-body" class="animal">
                                            <h3 class="card-title">{{item.nombre}}</h3>
                                            <div class="imagen-animal">
                                                <img src="../../../assets/img/page-animales/fotos/{{item.imagen}}" class="card-img" alt="mono Capuchino">
                                            </div>
                                            <h5><span>Especie:</span> {{item.especie}}</h5>
                                            <h6><span>Edad:</span> {{item.edad}} años </h6>
                                            <h6><span>Hábitat:</span> {{item.habitat}}</h6>
                                            <h6><span>Genero:</span> {{item.genero}}</h6>
                                            <h6><span>Origen: </span>{{item.origen}}</h6>
                                            <p>
                                                    <span> Datos Curiosos:</span> {{item.observaciones}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>                          
                </div>
                <div id="flechas" class="card-footer p-0 bg-transparent border-0">
                    <button class="btn btn-sm btn-return w-50 p-0" (click)="previousPage()" [disabled]=" paginaActual === 0">
                        <mat-icon>arrow_back_ios</mat-icon>    
                    </button>
                    <button class="btn btn-sm btn-next w-50 p-0" (click)="nextPage()" [disabled]="paginaActual === totalPages - 1">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>      
</div>