h2 {
    color: var(--orange);
    font-weight: bold;
    font-size: 25px;
}

mat-panel-title {
    padding: 100px;
}

.container-animales {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.animal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 40px;
}

.info-animal {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.item-info-animal {
    text-align: center;
    background-color: #f5f5f5;
}

.card-body {
    background-color: var(--green);
    padding: 50px;
    border-radius: 10px;
}

.animal h3 {
    font-size: 20px;
    color: var(--brown);
}

.animal span {
    text-align: center;

}

.animal h5 {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.imagen-animal {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.imagen-animal:hover .overlay {
    opacity: 1;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
    font-family: 'Raleway';
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.imagen-animal img {
    border-radius: 10px;
    width: 500px;
}

.imagen-animal:hover {
    cursor: pointer;
    opacity: 0.9;
}

.dato-curioso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    text-align: center;
}

.dato-curioso h3{
    color: #FFD700;
    font-weight: bold;
    font-size: 25px;
}
.card-caja {
    background-size: cover;

}

h1 {
    font-family: 'Raleway';
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    border: 3px solid #f5f5f5;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

mat-panel-description mat-icon {
    width: 75%;
}

mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.example-card {
    max-width: 60%;
    border-right: 1px solid var(--green);
}

#flechas {
    margin-top: 20px;
}

.btn mat-icon {
    font-size: large;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
}

.btn-next {
    border-radius: 0 0 5px 0;
}

.btn-next:hover {
    background-color: var(--green);
    color: white;
}

.btn:disabled {
    border: none;
}

.btn-return {
    border-radius: 0 0 0 5px;
}

.btn-return:hover {
    background-color: var(--brown);
    color: white;
}

@media (max-width: 767px) {
    .description-col {
        display: none !important;
    }

    .main-col {
        flex-basis: 100%;
    }

    .card-img {
        width: 20%;
    }

    .card-text {
        font-size: smaller;
    }
}