<p>
    <mat-toolbar class="fondo">
            <img src="../../../assets/img/Logo.png" alt="logo">
        <div class="links">
            <ul>
                <li><a mat-button routerLink="">Inicio</a></li>
                <li><a mat-button href="">Animales</a></li>
                <li><a mat-button routerLink="/actividades">Actividades</a></li>
                <li><a mat-button href="">Voluntariado</a></li>
                <li><a mat-button href="">Sobre Nosotros</a></li>
            </ul>
        </div>
    </mat-toolbar>
<p>

