<section class="login">
    <section class="form-login">
        <div class="form-titulo">
            <img src="../../../assets/imagenes/Prototipo3-solo-removebg-preview.png" alt="">
            <h2>Zoo Municipal de Loja</h2>
        </div>
<section class="formulario">
    <form>

        <mat-card>
            <h3>LOGIN</h3>
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingresa tu contraseña</mat-label>
                <input id="input" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="botones">
                <button mat-raised-button color="primary">Ingresar</button>
            </div>
        </mat-card>
    </form>
</section>
        
    </section>
    <div class="imagen-login"></div>
</section>