.login{
    display: flex;
}
.form-login {
    background-color: #ccffbb;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 30px;
    height: 100vh;
}

.form-titulo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-titulo img {
    width: 100px;
}

.form-titulo h2 {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: bold;
    color: #006400;
}

.imagen-login {
    background-image: url(../../../../assets/img/login.jpg);
    background-repeat: 2;
    background-size: cover;
    width: 40%;
    height: 100vh;
}

.formulario{
    margin-top: -13vh;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 65vh;
}

mat-card {
    padding: 30px;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

mat-card h3 {
    margin-bottom:70px;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: bold;
    color: #8B4513;
}


mat-form-field {
    margin-top: -20px;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 10px;
}

mat-form-field input {
    font-size: 20px;
    font-family: 'Raleway';
    border-radius: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.botones:hover {
    transform: scale(1.1);
}