<p>
    <mat-toolbar class="fondo">
            <img src="../../../assets/imagenes/Logo.png" alt="logo">
        <div class="links">
            <ul>
                <li><a mat-button href="" target="_blank">Inicio</a></li>
                <li><a mat-button href="" target="_blank">Animales</a></li>
                <li><a mat-button href="" target="_blank">Actividades</a></li>
                <li><a mat-button href="" target="_blank">Voluntariado</a></li>
                <li><a mat-button href="" target="_blank">Sobre Nosotros</a></li>
            </ul>
        </div>
    </mat-toolbar>
<p>

